.tash{
font-weight: bold;
font-family: 'Creepster', cursive;
    a {
        color: darkred;
    }
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: darkred;
    font-size: 30px;
}

